/* The header and navgitation design */
h1{
    display:inline-block;
}

nav{
    float: right; 
}

nav ul {
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-left: 25px;
}

/* The side menu design */
.aside-divider {
    border: 2px solid black;
    width: 30%;
    min-height: 10vh;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

p{
    display: flex;
    justify-content: center;
    padding-right: 380px;
    margin: -85px;
}
/* The work section design */
img{
    height: 300px;
}

/* The contact section design */
