/* Header and navigation of the portfolio */
.header {
    padding: 10px;
}
.header h1{ 
    display: inline-block;
}

.header nav {
    float: right;
}

.header ul {
    list-style: none;
}

.header ul li {
    display: inline-block;
}

/* Main section of the portfolio */
.section {
    margin-bottom: 1rem;
}

.image {
    display: inline-block;
    height: 300px;
}

.image-contact {
    height: 300px
}
/* Resizing the webpage depending on the size*/
@media screen and (min-width: 768px) {
    .section {
        display: flex;
        gap: 1rem;
    }

    .section-heading {
        min-width: 200px;
        border-right: 3px solid black;
        text-align: right;
        padding-right: 1rem;
        /* margin-right: 1rem; */
    }
}