/* Header/navigation section */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px; 
}

.header nav {
    display: flex;
    justify-content: right;
}

.header ul {
    list-style: none;
}

.header ul li {
    display: inline-block;
    padding: 20px;
}

/* main body section */
.section {
    display: flex;
    margin-bottom: 40px;
}

.section-heading {
    min-width: 200px;
    border-right: 2px solid black;
    text-align: right;
    padding-right: 30px;
}

.section-body {
    padding-left: 30px;
}

/* about me section */


/* work section */
.image-one {
    height: 500px;
    padding: 20px;
}

.image-two {
    height: 300px;
    padding: 20px;
}

.section-body h3 {
    border: 2px solid black;
    padding-bottom: 4px;
    text-align: center;
}

/* contact section */
.image-contact {
    height: 100px;
}

.section-body ul {
    display: inline-block;
    list-style: none;
}

/* resizing the screen */
